:root {
    --buttons: #F2994A;
    --menu-header: #B5B5B5;
    --white: #ffffff;
    --bg-main: #040D3E;

}

html {
    font-size: 16px;
}
body {
    margin: 0;
    padding: 0;
    width: 1440px;
    margin: auto;
    background-color: var(--bg-main);
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none; 
}
.gradient {
    
    height: 94rem;
    margin-bottom: -94rem;
    background: linear-gradient(222.26deg, #3B1D60 0.79%, #040D3E 105.85%);
}
.header__burger-button {
    border: none;
}
.header-nav__link {
    font-family: 'Gilroy-SemiBold';
    text-transform: uppercase;
    font-size: 0.75rem;
    letter-spacing: 0.125rem;
    color: var(--menu-header);
    line-height: 1.25rem;
}
.user-menu__button {
    text-transform: uppercase;
    border: 1px solid;
    border-radius: 3px;
    font-family: 'Rubik', sans-serif;
    font-size: 0.75rem;
    letter-spacing: 0.125rem;
    text-align: center;
    padding: 0.5rem 1.5rem;
}
.user-menu__button_left {
    background: none;
    color: var(--buttons);
    border-color: var(--buttons);
}
.user-menu__button_right {
    color: var(--white);
    background-color: var(--buttons);
    border-color: var(--buttons);
}
@media (min-width: 320px){
.header {
    display: flex;
}
.header-nav_menu {
    display: none;
}
}