@mixin e($element) {
    &__#{$element} {
       @content;
    }
  }

  @mixin m($modifier) {
    &_#{$modifier} {
       @content;
    }
 }
   @mixin buttonOrange () {
    text-transform: uppercase;
    border: 1px solid;
    border-radius: 3px;
    font-family: "Rubik", sans-serif;
    font-size: 0.75rem;
    letter-spacing: 0.125rem;
    text-align: center;
    padding: 0.5rem 1.5rem;
    color: $white;
    background-color: $buttons;
    border-color: $buttons;
      
   }
