@import "vars";


.decorations {
    position: relative;
    z-index: -5;
  }
  .gradient {
    height: 94rem;
    margin-bottom: -94rem;
    background: linear-gradient(222.26deg, #3b1d60 0.79%, #040d3e 105.85%);
  
    @include e(second) {
        position: absolute;
        top: 77rem;
        left: 0;
        background: linear-gradient(180deg, rgba(15, 17, 68, 0) 0%, #0F1144 9.57%);
        height: 300vh;
        margin-bottom: -100rem;
        width: 100%;
    }
  }