@import "mixin";
@import "vars";
html {
  font-size: 14px;
}
.traffic {
  padding: 1rem 1rem 0 2rem;
  text-align: center;

  @include e(column-right) {
    display: none;
  }

  @include e(title) {
    @include title(center);
    @include m(emph) {
      color: $buttons;
    }
  }
  @include e(text) {
    @include textFifteen(1.75rem, left);
  }
  @include e(button) {
    @include buttonOrange;
    padding: 0.875rem 1.875rem;
  }
}

@media (min-width: 680px) {
  html {
    font-size: 15px;
  }
  .traffic {
    display: flex;
    flex-direction: column;

    @include e(column-right) {
        position: relative;
        display: initial;
        height: 30rem;
    }
    @include e(column-left) {
    }
  }
  .traffic__illustration {
      padding-top: 2.5rem;
      margin-left: 7rem;

      @include m(first) {
          position: absolute; 
          top: 15rem;
          left: 18rem;
      }
      @include m(second) {
        position: absolute;
        top: 0;
        left: 6rem;
      }
      @include m(third) {     
          z-index: 5;     
        position: absolute;
        top: 20rem;
        left: 6rem;
      }
      @include m(fourth) {
          position: absolute;
          top: 1rem;
          left: 0;
      }
  }
}


@media (min-width: 990px) {
    html {
        font-size: 16px;
      }
      .traffic {
        margin-top: 5.5rem;
        flex-direction: row;
        justify-content: center;
        text-align: left;
        align-items: center;
        position: relative;

        &::after {
            content: " ";
            width: 24rem;
            height: 35.3rem;
            background: url(../../img/section-4/Group9.png), no-repeat;
            position: absolute;
            top: 18rem;
            left: 4rem;
            transform: rotate(-1deg);
            opacity: 50%;
        }

    @include e(illustration) {
        margin-left: 3rem;
    }

        @include e(title) {
            text-align: left;
            margin: 0;
            margin-bottom: 2rem;
        }
        @include e(text) {
            margin: 0;
            margin-bottom: 2.6rem;
        }


        @include e(column-left){
            width: 30%;
            flex-shrink: 1;
            margin-left: auto;
            
        }
        @include e(column-right) {
            width: 48%;
        }
       
}
}

// SECTION 5

.saving {
    padding: 0 0.5rem 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    @include e(title) {
        @include title(center) 
    }
    @include e(text) {
        @include textFifteen(1.25rem)
    }
}    

@media (min-width: 680px) {
    html {
        font-size: 15px;
    }
    .saving {
        margin-top: 1rem;
    }
    .saving__title {
        margin: 1rem 0 0.5rem;
    }
}

@media (min-width: 990px) {
    html {
        font-size: 16px;
    }
    .saving {
        @include e(columns-devision) {
            display: flex;
            justify-content: center;
            
            margin-top: 3rem;
             }
             @include e(column) {
                 flex-basis: 13%;
                 @include m(center) {
                    flex-basis: 20%;
                    margin: 0 6rem;
                
            }
             }
           @include e(title) {
               @include m(first) {
                   width: 50%;
               }
           }  
           @include e(text) {
               @include m(first) {
                   width: 30%
               }
           }
                 
    }
}




  .fifth-section {
    width: 100%;    
  position: relative;  
  text-align: center;
     
     @include e(title) {

      @include m(color) {
        color: $buttons;
      }
  
      @include title(center)
  }
  @include e(button) {
    padding: 1.06rem 2.06rem;
    @include buttonOrange 
  }
  }


  @media (min-width: 680px) {
  html {
    font-size: 15px;
  }
  }

@media (min-width: 990px) {
.fifth-section {
  width: 50%;
  margin: 10rem auto 0;

  @include e(title) {
    margin-bottom: 0;
  }

  @include e(button) {
    margin-top: 2.87rem;
  }
   

&::after {
  content: " ";
      background: url(../../img/section-4/Section5.png);
      position: absolute;
  top: 3.8rem;
  left: -7rem;
  width: 75rem;
  height: 30rem;
  opacity: 30%;
}
}
}
