// header
$buttons: #f2994a;
$menu-header: #b5b5b5;
$white: #ffffff;
$bg-main: #040d3e;
$titles-col: #99EFD0;
$paragr-col: #8476AA;
$link-col: #6D6D78;
$wrapper-col: #0E174A;
$wrapper-text: #95A1BB;
$form-field: rgb(246, 246, 246, 10%);
$corpyright: #8D8D8D;

$baseFontSize: 14px;



