@mixin e($element) {
  &__#{$element} {
    @content;
  }
}

@mixin m($modifier) {
  &_#{$modifier} {
    @content;
  }
}
@mixin buttonOrange() {
  text-transform: uppercase;
  border: 1px solid;
  border-radius: 3px;
  font-family: "Rubik", sans-serif;
  font-size: 0.75rem;
  letter-spacing: 0.125rem;
  text-align: center;
  color: $white;
  background-color: $buttons;
  border-color: $buttons;
}
@mixin buttonClear() {
  text-transform: uppercase;
  border: 1px solid;
  border-radius: 3px;
  font-family: "Rubik", sans-serif;
  font-size: 0.75rem;
  letter-spacing: 0.125rem;
  text-align: center;
  background: none;
  color: $buttons;
  border-color: $buttons;
}
@mixin title ($textAlign) {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 2.75rem;
  color: $titles-col;  
  text-align: $textAlign;
}
@mixin beforeicon ($beforeIcon, $leftMargin: -2.5rem,)
{
background:  $beforeIcon, no-repeat;  
content: "";
width: 24px;
height: 24px; 
float: left;
position: absolute;
top: 0;
left: $leftMargin;
  }


  @mixin textFifteen ($lineHeight, $textAlign: center){
  	font-family: 'Gilroy-SemiBold';
    font-size: 0,9375rem;
    color: $paragr-col;
    line-height: $lineHeight;
    text-align: $textAlign;
  }