// header
$buttons: #f2994a;
$menu-header: #b5b5b5;
$white: #ffffff;
$bg-main: #040d3e;
$titles-col: #99EFD0;
$paragr-col: #8476AA;
$link-col: #6D6D78;

// $width: 1;
// $column: 6;
// $initialbasis: calc(($width / $column) * 100%);
// $gap: calc(($column - $width) * 1%);
  


